
/*
* {
 background-image: none !important;
 background-color: black !important;
 color: #666666 !important;
}

a { color: #ff9900 !important; }

input {
 background-image: none !important;
 background-color: black !important;
 border: 1px solid #ff9900 !important;
 -moz-appearance: none !important;
}
*/

