
/* #TabsToolbar{ visibility:collapse !important; } */
/* #urlbar-container{ display:none !important; } */
/* #nav-bar{ display:none !important; } */

/*
#tabbrowser-tabpanels, menubar, toolbar, nav-bar, #TabsToolbar, #urlbar, #searchbar, .tab-background {
 background-image: none !important;
 background-color: #000000 !important;
 color: #ff9900 !important;
 border: 1px sold #ff9900 !important;
 -moz-appearance: none !important;
}

.tab-background[selected="true"]{
 background-image: none !important;
 background-color: #ff9900 !important;
 color: #000000 !important;
 border: 1px sold #ff9900 !important;
 -moz-appearance: none !important;
}
*/

