
#############

grep -q "laptop" /proc/cmdline && /bin/sh -l || timeout -s SIGTERM 3 sh -c 'read -p interupt && /bin/sh -l'

[ -b "/dev/storage" ] && use="/dev/storage"
[ -b "/dev/mapper/storage" ] && use="/dev/mapper/storage"

[ -b "${use}" ] && fsck.ext4 -pvf "${use}"

[ -b "${use}" ] &&
fsck.ext4 -pv "${use}" &&
install -d -o 0 -g 0 -m 0775 "${local}" &&
mount -t ext4 -o rw,nodev,nosuid,noexec,noatime "${use}" "${local}" &&
install -d -o 0 -g 0 -m 0775 "${local}" && 
ln -sf "${local}" "${storage}" || ln -sf "${ephemeral}" "${storage}"

#############

