
############# lo
ip link set down dev lo
ip addr flush dev lo
ip addr add 127.0.0.1/8 dev lo brd + scope host
ip route add 127.0.0.0/8 dev lo scope host metric 0
ip link set up dev lo
#############

############# lan

[ -d "/sys/class/net/lan" ] && ip link delete lan
[ -d "/sys/class/net/lan" ] || {

brctl addbr lan
ip link set up dev lan

}

############# nat

[ -d "/sys/class/net/nat" ] && ip link delete nat
[ -d "/sys/class/net/nat" ] || {

brctl addbr nat
ip addr add 172.16.0.1/12 broadcast 172.31.255.255 dev nat
ip addr add fc00::172:16:0:1/64 dev nat
ip link set up dev nat
ip route add 224.0.0.0/4 dev nat scope link metric 0
ip route add 169.254.0.0/16 dev nat scope link metric 0

}

############# tun

[ -d "/sys/class/net/tun" ] && ip link delete tun
[ -d "/sys/class/net/tun" ] || {

ip link add tun type wireguard
wg set tun listen-port 51820 private-key "${storage}/.vpn/wireguard"
ip addr add 10.0.0.1/8 broadcast 10.255.255.255 dev tun
ip addr add fd00::10:0:0:1/64 dev tun
ip link set up dev tun

}

#############

for i in eth0 eth1 ; do
#############
[ -d "/sys/class/net/${i}" ] || continue
#############
[ -f "${storage}/.net/address.${i}" ] || install -o 0 -g 0 -m 0600 "/sys/class/net/${i}/address" "${storage}/.net/address.${i}"
#############
ip link set down "${i}"
ip addr flush dev "${i}"
until ip link set dev "${i}" address "$(hexdump -n6 -ve '1/1 "%02X:"' /dev/urandom|head -c17)" ; do sleep .1 ; done
ip link set up "${i}"
#############
brctl addif lan "${i}"
#############
done

for i in wlan0 wlan1 ; do
#############
[ -d "/sys/class/net/${i}" ] || continue
#############
[ -f "${storage}/.net/address.${i}" ] || install -o 0 -g 0 -m 0600 "/sys/class/net/${i}/address" "/${storage}/.net/address.${i}"
#############
ip link set down "${i}"
ip addr flush dev "${i}"
until ip link set dev "${i}" address "$(hexdump -n6 -ve '1/1 "%02X:"' /dev/urandom|head -c17)" ; do sleep .1 ; done
ip link set up "${i}"
#############
done

# race condition ?

for i in /sys/class/net/* ; do
#############
sysctl -w "net.ipv6.conf.$(basename ${i}).autoconf=0"
sysctl -w "net.ipv6.conf.$(basename ${i}).accept_ra=0"
sysctl -w "net.ipv6.conf.$(basename ${i}).accept_redirects=0"
sysctl -w "net.ipv6.conf.$(basename ${i}).use_tempaddr=0"
#############
done

