
#############

    perms="uid=0,gid=0,mode=1777,size=50%"
    quota="usrquota,usrquota_block_hardlimit=,usrquota_inode_hardlimit="
  #devshm="rw,nodev,nosuid,noexec,noatime,noswap,${perms},${quota}"
   #tmpfs="rw,nodev,nosuid,noexec,noatime,noswap,${perms},${quota}"

 devtmpfs="rw,dev,nosuid,noexec,noatime,size=0%"
   devpts="rw,dev,nosuid,noexec,noatime,mode=0600,ptmxmode=0000"
   devshm="rw,nodev,nosuid,noexec,noatime,noswap,uid=0,gid=0,mode=1777,size=3%" #,usrquota,usrquota_block_hardlimit=,usrquota_inode_hardlimit="
     proc="rw,nodev,nosuid,noexec,noatime,hidepid=1"
    sysfs="rw,nodev,nosuid,noexec,noatime"
    tmpfs="rw,nodev,nosuid,noexec,noatime,noswap,uid=0,gid=0,mode=1777,size=50%" #,usrquota,usrquota_block_hardlimit=,usrquota_inode_hardlimit="

#############

     mountpoint -q "/dev" || { install -d -o 0 -g 0 -m 0700 "/dev"     ; mount -t devtmpfs -o "${devtmpfs}" "host" "/dev"     ; }
 mountpoint -q "/dev/pts" || { install -d -o 0 -g 0 -m 0700 "/dev/pts" ; mount -t devpts   -o "${devpts}"   "host" "/dev/pts" ; }
 mountpoint -q "/dev/shm" || { install -d -o 0 -g 0 -m 0700 "/dev/shm" ; mount -t tmpfs    -o "${devshm}"   "host" "/dev/shm" ; }
    mountpoint -q "/proc" || { install -d -o 0 -g 0 -m 0700 "/proc"    ; mount -t proc     -o "${proc}"     "host" "/proc"    ; mount -o remount,hidepid=1 "/proc" ; }
     mountpoint -q "/sys" || { install -d -o 0 -g 0 -m 0700 "/sys"     ; mount -t sysfs    -o "${sysfs}"    "host" "/sys"     ; }
     mountpoint -q "/tmp" || { install -d -o 0 -g 0 -m 0700 "/tmp"     ; mount -t tmpfs    -o "${tmpfs}"    "host" "/tmp"     ; }

#############

