
#############
#daemon-address=127.0.0.1:18081
#daemon-host=127.0.0.1
#proxy=127.0.0.1:9050
#trusted-daemon=1
untrusted-daemon=1
#password=password
#password-file=/path/to/file
#daemon-port=18081
#daemon-login=
#daemon-ssl=autodetect
#daemon-ssl-private-key=
#daemon-ssl-certificate=
#daemon-ssl-ca-certificates=
#daemon-ssl-allowed-fingerprints=
#daemon-ssl-allow-any-cert=
#daemon-ssl-allow-chained=
#testnet=1
#stagenet=1
shared-ringdb-dir=shared-ringdb
kdf-rounds=256
#bitmessage-address=http://127.0.0.1:8442
#bitmessage-login=username:password
#hw-device=
#hw-device-deriv-path=
#tx-notify=
#no-dns=
#offline=
#extra-entropy=
#wallet-file=
#generate-new-wallet=
#generate-from-device=
#generate-from-view-key=
#generate-from-spend-key=
#generate-from-keys=
#generate-from-multisig-keys=
#generate-from-json=
#mnemonic-language=
#command=
#restore-deterministic-wallet=
#restore-from-seed=
#restore-multisig-wallet=
#non-deterministic=
#electrum-seed=
#allow-mismatched-daemon-version=
#restore-height=
#restore-date=
#do-not-relay=
#create-address-file=
#subaddress-lookahead=
#use-english-language-names=
#rpc-client-secret-key=
log-file=log
log-level=0
max-log-file-size=104850000
max-log-files=3
max-concurrency=0
#############

