
#############
Banner /etc/banner
PrintMotd no
PidFile none
#############
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
Port 22
LogLevel INFO
SyslogFacility AUTH
#############
CASignatureAlgorithms ssh-ed25519
HostbasedAcceptedKeyTypes ssh-ed25519-cert-v01@openssh.com
HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com
PubkeyAcceptedKeyTypes ssh-ed25519-cert-v01@openssh.com,ssh-ed25519
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,sntrup4591761x25519-sha512@tinyssh.org
Ciphers chacha20-poly1305@openssh.com
MACs hmac-sha2-512
FingerprintHash sha256
#############
Compression yes
#############

#############
PermitRootLogin yes
#############
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
HostbasedAuthentication no
HostbasedUsesNameFromPacketOnly no
#############

#############
HostKey ~/private/sshd
HostCertificate ~/public/sshd.crt
TrustedUserCAKeys ~/public/ssh
AuthorizedKeysFile none
RevokedKeys ~/public/ssh.crl
#############
#AuthorizedKeysCommand # command to return a list of keys instead of using a file
#AuthorizedKeysCommandUser
#AuthorizedPrincipalsFile none
#AuthorizedPrincipalsCommand # command to return a list of principal users instead of using a file
#AuthorizedPrincipalsCommandUser
#############
UseDNS no
IgnoreRhosts yes
IgnoreUserKnownHosts yes
#############

#############
ExposeAuthInfo no
AllowUsers user
AllowGroups user
DenyUsers
DenyGroups
StrictModes yes
PermitUserEnvironment no
PermitUserRC no
#PrintLastLog no
#############

#############
RekeyLimit default none
MaxAuthTries 3
LoginGraceTime 13
MaxSessions 13
MaxStartups 10:30:100
ClientAliveCountMax 3
ClientAliveInterval 60
TCPKeepAlive no
#############

#############
PermitTTY yes
#############
X11Forwarding no
X11DisplayOffset 13
X11UseLocalhost yes
XAuthLocation /usr/bin/xauth
#############
DisableForwarding no
AllowTcpForwarding yes
PermitOpen any
PermitListen any
GatewayPorts clientspecified
AllowStreamLocalForwarding yes
StreamLocalBindMask 0117
StreamLocalBindUnlink yes
#
AllowAgentForwarding no
PermitTunnel no
#############

#############
Subsystem sftp internal-sftp
#############
#Match User sftp
#DisableForwarding yes
#ForceCommand internal-sftp
#ChrootDirectory /shared
#############

#############
#AcceptEnv # always sends TERM, default dont accept
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#KerberosAuthentication no
#KerberosGetAFSToken
#KerberosOrLocalPasswd
#KerberosTicketCleanup
#HostKeyAgent
#IPQoS
#RDomain
#SecurityKeyProvider
#SetEnv
#UsePAM
#VersionAddendum none
#############
#PubkeyAuthOptions # 2fa require touching or entrering pin on device
#SecurityKeyProvider # 2fa library path
#############

